// 基于 default 覆盖
$f-color = #ffffff

.m-mdic-copy-wrapper
  span.u-mdic-copy-code_lang
    color $f-color
  div.u-mdic-copy-notify
    background #ae4967
    color $f-color
    border-radius 2px
    padding 2px 6px
  button.u-mdic-copy-btn
    padding 3px 8px
    color $f-color
